* {
    font-family: 'Inter', sans-serif;
}

.red-section {
    background-color: : #f54242;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.game-icon {
    display: block;
    width: 20%;
    height: auto;
    margin: auto;
}

.game-title {
    text-align: center;
}

.section-title {
    padding-left: 15px;
}

.section-subtitle {
    padding-left: 15px;
}

.tagline {
    background-color: white;
}
